html,
body {
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  text-align: center;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px #555;
}

img {
  border-radius: 50%;
}

button {
  background-color: blueviolet;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
